# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Injection/v15
/exception/x64/Debug
/test/Debug
/test/x64/Debug
/tree/x64/Debug
/xml/Debug
/xml/x64/Debug
/CleanEx.bat
